<h1>Tasks#new</h1>

<h1>Add A Task</h1>
<%= form_for [@list, @task] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
<br/>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
<br/>
  <%= f.submit %>
<% end %>
